{% extends 'base.html' %}

{% block title %}Grade Performance{% endblock %}

{% block content %}
<h3>Grade Student:</h3>
<h3>
  {{ studentRecord.firstName }}
</h3>


<form method="POST" action="{{ url_for('performance.performanceGradePerformance', student_membership=studentRecord.membership) }}">
{{ form.hidden_tag() }}
<table class="table">
  <tbody>
    <tr>
      <th scope="row">{{ form.lesson_id.label(class="col-form-label") }}</th>
      <td colspan="2">{{ form.lesson_id(class="form-control", value="{{ request.form['lesson_id'] }}") }}</td>
    </tr>
    <tr>
      <th scope="row">{{ form.technique.label(class="col-form-label") }}</th>
      <td colspan="2">{{ form.technique(class="form-control") }}</td>
    </tr>
    <tr>
      <th scope="row">{{ form.ukemi.label(class="col-form-label") }}</th>
      <td colspan="2">{{ form.ukemi(class="form-control") }}</td>
    </tr>
    <tr>
      <th scope="row">{{ form.discipline.label(class="col-form-label") }}</th>
      <td colspan="2">{{ form.discipline(class="form-control") }}</td>
    </tr>
    <tr>
      <th scope="row">{{ form.coordination.label(class="col-form-label") }}</th>
      <td colspan="2">{{ form.coordination(class="form-control") }}</td>
    </tr>
    <tr>
      <th scope="row">{{ form.knowledge.label(class="col-form-label") }}</th>
      <td colspan="2">{{ form.knowledge(class="form-control") }}</td>
    </tr>
    <tr>
      <th scope="row">{{ form.spirit.label(class="col-form-label") }}</th>
      <td colspan="2">{{ form.spirit(class="form-control") }}</td>
    </tr>
    <tr>
      <td><a href="{{ url_for('performance.performanceViewer') }}" class="btn btn-danger">Back</a></td>
      <td>{{ form.submit(class="btn btn-success") }}</td>
      <td><input type="button" class="btn btn-primary" value="Continue" onClick="return submitForm(this.form);"/></td>
    </tr>
  </tbody>
</table>
</form>
{% endblock %}

{% block scripts %}
<script>
    function submitForm(form) {
      var csrf_token = "{{ csrf_token() }}";
      var formData = $(form).serializeArray();
      $.ajax({
        url: "{{ url_for('performance.performanceGradeNext', student_membership=studentRecord.membership) }}",
        type: "POST",
        headers: { "X-CSRFToken": csrf_token, },
        data: formData,
        success: function (data) {
          location.replace(data);
        }
      });
    };
</script>
{% endblock %}

