{% extends 'base.html' %}

{% block title %}Viewer{% endblock %}

{% block content %}
<div id="Dojo_details">
    <div>
      <h4>Class of {{ dojoRecord.name }}</h4>
    </div>
    <div>
      <h4>Instructor: {{ dojoRecord.instructor.firstName }}</h4>
    </div>
</div>
<hr>

<table class="table" id="students">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Belt</th>
            <th scope="col">Performance</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for student in student_list %}
        <tr id={{ student.id }}>
            <td>{{ student.firstName }}</td>
            <td>{{ student.beltName }}</td>
            <td>
                <a href="{{ url_for('performance.performanceGradePerformance', student_id=student.id) }}" class="btn btn-primary">Grade</a>
            </td>
            <td>
                <div class="btn-group dropleft">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      &#8230;
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="{{ url_for('performance.performanceChartView', student_id=student.id) }}" class="dropdown-item">Chart View</a>
                        <a href="{{ url_for('performance.performanceRemarks', student_id=student.id) }}" class="dropdown-item">Remarks</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
