{% extends 'base.html' %}

{% block title %}Viewer{% endblock %}

{% block content %}
<h2>Class of {{ dojoName }}</h2>
<h2>Instructor: {{ dojoInstructor }}</h2>


<table class="table" id="students">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Belt</th>
            <th scope="col">Last grading</th>
            <th scope="col">Active</th>
            <th scope="col">Performance grade</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for student in student_list %}
        <tr id={{ student.id }}>
            <th scope="col">{{ loop.index }}</th>
            <td>{{ student.name }}</td>
            <td>{{ student.belt }}</td>
            <td>{{ student.lastGrading }}</td>
            <td>{{ student.active }}</td>

            <td>
                <a href="#" data-toggle="modal" data-target='#exampleModalLong{{ student.id }}' class="btn btn-primary">gradePerformance<a>
            </td>
        </tr>
        <!-- Modal for grading performance -->
        <div class="modal fade" id="exampleModalLong{{ student.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Grade Performance for {{ student.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
              </div>
              <form method="POST" action="{{ url_for('performance.performanceGrading') }}">
              {{ gradePerformanceform.hidden_tag() }}
              <div class="modal-body">
                {{ gradePerformanceform.technique.label(class="col-form-label") }}
                {{ gradePerformanceform.technique(class="form-control") }}
                {{ gradePerformanceform.ukemi.label(class="col-form-label") }}
                {{ gradePerformanceform.ukemi(class="form-control") }}
                {{ gradePerformanceform.discipline.label(class="col-form-label") }}
                {{ gradePerformanceform.discipline(class="form-control") }}
                {{ gradePerformanceform.coordination.label(class="col-form-label") }}
                {{ gradePerformanceform.coordination(class="form-control") }}
                {{ gradePerformanceform.knowledge.label(class="col-form-label") }}
                {{ gradePerformanceform.knowledge(class="form-control") }}
                {{ gradePerformanceform.spirit.label(class="col-form-label") }}
                {{ gradePerformanceform.spirit(class="form-control") }}
              </div>
            
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {{ gradePerformanceform.submit(class="btn btn-primary") }}
              </div>
            </form>
            </div>
          </div>
        </div>
        <!-- end of modal -->
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}

{% endblock %}