{% extends 'base.html' %}

{% block title %}Viewer{% endblock %}

{% block content %}
{% include 'dojo_details.html' %}

<hr>

<table class="table" id="students">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Belt</th>
            <th scope="col">Performance</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for student in student_list %}
        <tr id={{ student.membership }}>
            <td>{{ student.firstName }}</td>
            <td>{{ student.beltName }}</td>
            <td>
                <a href="{{ url_for('performance.performanceGradePerformance', student_membership=student.membership) }}" class="btn btn-primary">Grade</a>
            </td>
            <td>
                <div class="btn-group dropleft">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      &#8230;
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% if current_user.has_role('Admin') or current_user.has_role('HQ') %}
                            <a href="{{ url_for('performance.performanceChartView', student_membership=student.membership) }}" class="dropdown-item">Performance</a>
                        {% endif %}
                        <a href="{{ url_for('performance.performanceRemarks', student_membership=student.membership) }}" class="dropdown-item">Remarks</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
