{% extends 'base.html' %}

{% block title %}Status{% endblock %}

{% block content %}
<h2>Class of {{ dojoName }}</h2>
<h2>Instructor: {{ dojoInstructor }}</h2>

<table class="table">
<thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Present</th>
        <th scope="col">Actions</th>
    </tr>
</thead>
<tbody>
    <!-- list for below constitute records from (studentStatus, student) -->
    {% for student in marked_list %}
    {% if student.studentStatus.status != True %}
    <tr class="table-danger" id={{ student.student.id }}>
    {% else %}
    <tr class="table-success" id={{ student.student.id }}>
    {% endif %}
        <th scope="col">#</th>
        <th scope="col">{{ student.student.name }}</th>
        <th scope="col">{{ student.studentStatus.status }}</th>
        <th scope="col">

        <a href="{{ url_for('attendance.attendancePresent', student_id=student.student.id, dojo_id=student.student.dojo_id, present=True) }}" class="btn btn-success">
            Mark present</a>

        <a href="{{ url_for('attendance.attendancePresent', student_id=student.student.id, dojo_id=student.student.dojo_id, present=False) }}" class="btn btn-danger">
            Mark absent</a>   
        </th>
    </tr>
    {% endfor %}

    <!-- list for below only constitute records from student -->
    {% for student in unmarked_list %}
    <tr class="table-danger" id={{ student.id }}>
        <th scope="col">#</th>
        <th scope="col">{{ student.name }}</th>
        <th scope="col">Unmarked</th>
        <th scope="col">

        <a href="{{ url_for('attendance.attendancePresent', student_id=student.id, dojo_id=student.dojo_id, present=True) }}" class="btn btn-success">
            Mark present</a>

        <a href="{{ url_for('attendance.attendancePresent', student_id=student.id, dojo_id=student.dojo_id, present=False) }}" class="btn btn-danger">
            Mark absent</a>   
        </th>
    </tr>
    {% endfor %}  
</tbody>
</table>
{% endblock %}


