{% extends 'base.html' %}

{% block title %}Status{% endblock %}

{% block content %}

{% if request.cookies.get('lessonStart') == 'False' %}
    <h2>Class of {{ dojoName }}</h2>
    <h2>Instructor: - </h2>

    <!-- Submit start lesson form -->
    <form method="POST">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td scope="col" colspan="3">Please select the date of class and the instructor taking the class</td>
        </tr>
        <tr>
            <th scope="col" colspan="2">{{ form.date.label(class="col-form-label") }}</th>
            <td>{{ form.date(class="form-control") }}</td>
        </tr>
        <tr>
            <th scope="col" colspan="2">{{ form.instructor_id.label(class="col-form-label") }}</th>
            <td>{{ form.instructor_id(class="form-control") }}</td>
            {{ form.errors.items() }}
        </tr>
        <tr><td>{{ form.submit(class="btn btn-success") }}</td></tr>
    </table>
    </form>
    
{% else %}
    <table class="table table-sm">
        <tr scope="row"><td>Class of {{ dojoName }}</td></tr>
        <tr scope="row"><td>Instructor: {{ dojoInstructor }}</td></tr>
        <tr><td>Date: {{ lessonDate }}</td></tr>
    </table>

    <table class="table table-sm">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Present</th>
            <th scope="col" colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for studentstatus in student_list %}

        {% if studentstatus.status != True %}
        <tr class="table-danger" id={{ studentstatus.student_id }}>
        {% else %}
        <tr class="table-success" id={{ studentstatus.student_id }}>
        {% endif %}

            <th scope="row">{{ loop.index }}</th>
            <td>{{ studentstatus.student.name }}</td>
            <td>{{ studentstatus.status }}</td>

            <td colspan="2">
            {% if studentstatus.status != True %}
            <a href="{{ url_for('attendance.attendancePresent', student_id=studentstatus.student.id, lesson_id=request.cookies.get('lesson_id'), present=True) }}" class="btn btn-success">
                Mark present</a>
            {% else %}
            <a href="{{ url_for('attendance.attendancePresent', student_id=studentstatus.student.id, lesson_id=request.cookies.get('lesson_id'), present=False) }}" class="btn btn-danger">
                Mark absent</a>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}


