{% extends 'base.html' %}

{% block title %}Viewer{% endblock %}

{% block content %}
<div id="Dojo_details">
  <div>
    <h4>Class of {{ dojoRecord.name}}</h4>
  </div>
  <div>
    {% if instructorRecord.firstName %}
      <h4>Instructor: {{ instructorRecord.firstName }}</h4>
    {% else %}
      <h4>Instructor: Nil</h4>
    {% endif %}
    
  </div>
</div>

<br>

<div id="accordion">
  <div class="card">
    <!-- Listing Techniques taught last lesson -->
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Techniques history
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p>Techniques taught last lesson were:</p>
        {% if lastLessonTechniques == {} %}
          <strong>N/A</strong>
        {% else %}
          {% for technique in lastLessonTechniques %}
            <li>{{ lastLessonTechniques[technique] }}</li>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Dojo Actions
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <a href="{{ url_for('attendance.attendanceSearchStudent') }}"
          class="btn btn-primary">Add Existing Student</a>

        <a href="#" data-toggle="modal" data-target='#addStudent'
          class="btn btn-primary">Add New Student</a>

        <a href="{{ url_for('attendance.attendanceEditDojo', dojo_id=dojoRecord.id) }}"
          class="btn btn-primary">Edit Dojo</a>
      </div>
    </div>
  </div>
</div>

<br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Belt</th>
      <th scope="col">Last grading</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for student in student_list %}
    {% if student.studentActive == False %}
      <tr class="table-secondary" id = {{ student.id }}>
    {% else %}
      <tr id = {{ student.id }}>
    {% endif %}
      <th scope="col">{{ loop.index }}</th>
        <td>{{ student.firstName }}</td>
        <td>{{ student.beltName }}</td>
        <td>{{ student.lastGrading }}</td>
        <td>
          <div class="btn-group dropleft">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              &#8230;
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a href="{{ url_for('attendance.attendanceEditStudent', student_id=student.id) }}"
                class="dropdown-item">Edit</a>
              {% if student.studentActive == True %}
              <a href="{{ url_for('attendance.attendanceAct_DeactEnrollment', student_id=student.id, dojo_id=request.cookies.get('dojo_id'), act_deact='deact') }}"
                class="dropdown-item">Deactivate</a>
              {% else %}
              <a href="{{ url_for('attendance.attendanceAct_DeactEnrollment', student_id=student.id, dojo_id=request.cookies.get('dojo_id'), act_deact='act') }}"
                class="dropdown-item">Activate</a>
              {% endif %}
            </div>
          </div>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!--Adding new student form-->
<!-- Modal -->
<div class="modal fade" id="addStudent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Modal Body with form-->
      <form method="POST" action="{{ url_for('attendance.attendanceAdd_DelStudent', add_del='addNew') }}">
        {{ form.hidden_tag() }}
        <div class="modal-body">
          <table class="table">
            <tbody>
              <tr>
                <th scope="col">{{ form.membership.label(class="col-sm-3 col-form-label")}}</th>
                <td>{{ form.membership(class="form-control")}}</td>
              </tr>
              <tr>
                <th scope="col">{{ form.firstName.label(class="col-form-label") }}</th>
                <td>{{ form.firstName(placeholder='Student Surname', class="form-control") }}</td>
              </tr>
              <tr>
                <th scope="col">{{ form.lastName.label(class="col-form-label") }}</th>
                <td>{{ form.lastName(placeholder='Student Name', class="form-control") }}</td>
              </tr>
              <tr>
                <th scope="col"><label class="col-form-label">Date Of Birth (month/year)</label></th>
                <td><div class = "col-sm-5">{{ form.dateOfBirth_month(class="form-control")}}</div>
                  <div class = "col-sm-6">{{ form.dateOfBirth_year(class="form-control")}}</div> </td>
              </tr>
              <tr>
                <th scope="col">{{ form.belt_id.label(class="col-sm-3 col-form-label") }}</th>
                <td>{{ form.belt_id(class="form-control") }}</td>
              </tr>
              <tr>
                <th scope="col">{{ form.lastGrading.label(class="col-form-label") }}</th>
                <td>{{ form.lastGrading(class="form-control") }}</td>
              </tr>
              <tr>
                <th scope="col">{{ form.dojo_id.label(class="col-form-label") }}</th>
                <td>{{ form.dojo_id(class="form-control") }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="position-relative top-0 start-0 btn btn-secondary"
            data-dismiss="modal">Close</button>
          {{ form.submit(class="position-relative start-100 btn btn-success", value='Add User') }}
        </div>
      </form>
    </div>
  </div>
</div>
<!--End of adding new student form-->
{% endblock %}