{% extends 'base.html' %}

{% block title %}Feedback review{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
    
    {% for question in questions %}
        // Bar chart
        var {{ question|remove_punctuations }} = 
        new Chart(document.getElementById('{{ question|remove_punctuations }}').getContext("2d"), {
            type: 'bar',
            data: {
                labels: {{ scale }},
                datasets: [{
                    label: "Count",
                    data: {{ answer_dict.get(question) }}
                    }]
                },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: '{{ question }}'
                    }
                }
        });
    {% endfor %}
</script>
{% endblock %}



{% block content %}  
    {% for question in questions %}
        {% if not questions|check_next(question) and questions.index(question)%2 == 0 %}
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p>{{ question }}</p>
                    <canvas id="{{ question|remove_punctuations }}" width="400" height="400"></canvas>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>
        {% elif questions.index(question)%2 == 0 %}
            <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p>{{ question }}</p>
                    <canvas id="{{ question|remove_punctuations }}" width="400" height="400"></canvas>
                </div>
        {% else %}
                <div class="col-sm">
                    <p>{{ question }}</p>
                    <canvas id="{{ question|remove_punctuations }}" width="400" height="400"></canvas>
                </div>
            </div>
            </div>
            <hr>   
        {% endif %}
    {% endfor %}
{% endblock %}