{% extends 'base_parent.html' %}

{% block title %}Identify Student{% endblock %}

{% block content %}

<div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel" style="height: 30vh%; width:auto;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <span class="border border-light">
        <img src="{{ url_for('static', filename='Img/AikidoImage1.jpg') }}" class="d-block w-100" style="height:30vh%; object-fit:cover" alt="Aikdio Image">
      </span>
    </div>

    {% for i in range(2,11) %}
    <div class="carousel-item">
      <span class="border border-light">
        <img src="{{ url_for('static', filename='Img/AikidoImage{}.jpg'.format(i)) }}" class="d-block w-100" style="height:30vh%; object-fit:cover" alt="Aikdio Image">
      </span>
    </div>
    {% endfor %}
  </div>

  <a class="carousel-control-prev" href="#carouselFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<p>Enter in your Child's Membership ID and Date Of Birth to continue</p>
<p>Membership ID can be found within the first page of your Aikido blue book</p>

<hr>

<form action="{{ url_for('parent.parentIdentifyStudent') }}" method="POST">
  {{ form.hidden_tag() }}

  <div class="form-group row">
    {{ form.membership.label(class="col-sm-3 col-form-label")}}
    <div class="col-sm-5">
      {{ form.membership(class="form-control")}}
    </div>
  </div>

  <div class="form-group row">
    <label for="DOB" class="col-sm-3 col-form-label">Date Of Birth (month/year)</label>
    <div class="row col-sm-5">
      <div class = "col-sm-5">{{ form.dateOfBirth_month(class="form-control")}}</div>
      <div class = "col-sm-6">{{ form.dateOfBirth_year(class="form-control")}}</div> 
    </div>
  </div>

  <div class="form-row">
      {{ form.submit(class="form-control btn btn-dark") }}
  </div>

</form>

{% endblock %}