<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{{ url_for('attendance.attendanceDojoSelect') }}" style="font-family: fantasy;">Shinju-Kidz</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if current_user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('attendance.attendanceStatus') }}">Mark Attendance<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('attendance.attendanceViewer') }}">Class Summary</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('performance.performanceViewer') }}">Grade Performance</a>
      </li>

      {% if current_user.has_role('Admin') or current_user.has_role('HQ') %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Admin Bar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('auth.authUserViewer') }}">Users</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('dojo.dojoViewer') }}">Dojos</a>
          <a class="dropdown-item" href="{{ url_for('instructor.instructorViewer') }}">Instructors</a>
          <a class="dropdown-item" href="{{ url_for('feedback.feedbackViewer') }}">Feedback</a>
        </div>
      </li>
      {% endif %}

        <a class="nav-link" href="{{ url_for('security.logout') }}">Logout</a>

      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('parent.parentIdentifyStudent') }}">Parents Tab</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('security.login') }}">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>