{% extends 'base.html' %}

{% block title %}Confirm Action{% endblock %}

{% block content %}
<h2>Delete Dojo</h2>

<form method="POST" action="{{ url_for('dojo.dojoDelDojo') }}">
{{ form.hidden_tag() }}
<table class="table">
  <tbody>
    <tr>
      <td colspan="2">Please confirm that you would like to delete this dojo</td>
    </tr>
    <tr>
      <td><a href="{{ url_for('dojo.dojoViewer') }}" class="btn btn-danger">Cancel</a></td>
      <td>{{ form.submit(class="btn btn-success") }}</td>
    </tr>
  </tbody>
</table>
</form>
{% endblock %}