# requirements.in
flask
flask-script
flask_sqlalchemy
flask_migrate
flask_wtf
Flask-Mobility
flask-security
bcrypt
email_validator
python-dotenv
gitpython
is-safe-url
psycopg2-binary
beautifulsoup4
requests
lxml
matplotlib
bokeh
pandas
gunicorn
django
# pip install git+https://github.com/mattupstate/flask-security
# security patch issue