{% extends 'base.html' %}

{% block title %}Edit instructor{% endblock %}

{% block content %}
<h2>Update {{ instructorRecord.lastName }} Particulars</h2>

<form method="POST" action="{{ url_for('instructor.instructorEditInstructor', instructor_id=instructorRecord.id) }}">
{{ form.hidden_tag() }}
<table class="table">
  <tbody>
    {% for field, errors in form.errors.items() %}
      {{ form.field.label }}: {{ ', '.join(errors) }}
    {% endfor %}
    <tr>
      <th scope="row">{{ form.firstName.label(class="col-form-label")}}</th>
      <td colspan="2">{{ form.firstName(class="form-control")}}</td>
    </tr>
    <tr>
      <th scope="row">{{ form.lastName.label(class="col-form-label")}}</th>
      <td colspan="2">{{ form.lastName(class="form-control")}}</td>
    </tr>
    <tr>
      <th scope="row">{{ form.belt.label(class="col-form-label") }}</th>
      <td colspan="2">{{ form.belt(class="form-control") }}</td>
    </tr>
    <tr>
      <th scope="row">{{ form.lastGrading.label(class="col-form-label") }}</th>
      <td colspan="2">{{ form.lastGrading(class="form-control") }}</td>
    </tr>
    <tr>
      <td><a href="{{ url_for('instructor.instructorViewer') }}" class="btn btn-danger">Back</a></td>
      <td>{{ form.submit(class="btn btn-success") }}</td>
    </tr>
  </tbody>
</table>
</form>
{% endblock %}
