{% extends 'base.html' %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="{{ url_for('static', filename='js/radar_chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/line_chart.js') }}"></script>

<script> //button script
     $(document).on("click","#0",function(){
          document.getElementById("Charts").innerHTML = "<div class='p-1'>\
                                                       <canvas id='chart' width='340' height='340'></canvas>\
                                                       </div>";
          drawRadarChart({{ radar_data }});
     });
     
     $(document).on("click","#1",function(){
          document.getElementById("Charts").innerHTML = "<div class='p-1'><canvas id='technique' width='300' height='300'></canvas></div>\
                                                       <div class='p-1'><canvas id='ukemi' width='300' height='300'></canvas></div>\
                                                       <div class='p-1'><canvas id='discipline' width='300' height='300'></canvas></canvas></div>\
                                                       <div class='p-1'><canvas id='coordination' width='300' height='300'></canvas></div>\
                                                       <div class='p-1'><canvas id='knowledge' width='300' height='300'></canvas></div>\
                                                       <div class='p-1'><canvas id='spirit' width='300' height='300'></canvas></div>";
          drawLineChart()
     });
</script>
<script>
     $(document).ready(function(){
          var dateLabel = [{% for item in dateLabel %}"{{item}}",{% endfor %}];
          {% for value in values %}
          var {{ value }} = drawOneLineChart(dateLabel, "{{ value }}", {{ lines_data.get(value) }});
          {% endfor %}
     });

     function drawLineChart(){
          var dateLabel = [{% for item in dateLabel %}"{{item}}",{% endfor %}];
          {% for value in values %}
          var {{ value }} = drawOneLineChart(dateLabel, "{{ value }}", {{ lines_data.get(value) }});
          {% endfor %}
     };
</script>
{% endblock %}

{% block title %}Chart{% endblock %}

{% block content %}
<div id="student_details">
     <h4>Name: {{ studentRecord.firstName }}</h4>
     <h4>Belt: {{ studentRecord.beltName }} - {{ studentRecord.beltColor }}</h4>
</div>

<hr>

<div id="accordion">
     <div class="card">
          <div class="card-header" id="headingOne">
               <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                         aria-controls="collapseOne">
                         Grading Eligible
                    </button>
               </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
               <div class="card-body">
                    <p>Last grading date: {{ studentRecord.lastGrading }}</p>
                    <p>Lessons taken after grading: {{ lessonDone }}</p>
                    <hr>
                    <p>Pre Requisites for next grading: {{ studentRecord.timespanNeeded }} months practice needed before eligible for grading</p>
                    {% if countdown %}
                         {% if countdown<0 %}
                         <p>You are eligible for grading!</p>
                         {% else %}
                         <p>You will then need to wait {{ countdown }} months more</p>
                         {% endif %}
                    {% endif %}
                    
               </div>
          </div>
     </div>
     <div class="card">
          <div class="card-header" id="headingTwo">
               <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                         aria-expanded="false" aria-controls="collapseTwo">
                         Performance Charts
                    </button>
               </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
               <div class="d-flex justify-content-between">
                    <button id="0" type="button" class='btn btn-success'>Radar</button>
                    <button id="1" type="button" class='btn btn-success'>Line</button>
               </div>
               <div class="card-body" id="Charts">
                              <div class="p-1"><canvas id="technique" width="190" height="190"></canvas></div>
                              <div class="p-1"><canvas id="ukemi" width="190" height="190"></canvas></div>

                              <div class="p-1"><canvas id="discipline" width="190" height="190"></canvas></canvas></div>
                              <div class="p-1"><canvas id="coordination" width="190" height="190"></canvas></div>


                              <div class="p-1"><canvas id="knowledge" width="190" height="190"></canvas></div>
                              <div class="p-1"><canvas id="spirit" width="190" height="190"></canvas></div>
               </div>
          </div>
     </div>
     <div class="card">
          <div class="card-header" id="headingThree">
               <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                         aria-expanded="false" aria-controls="collapseThree">
                         Remarks
                    </button>
               </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
               <div class="card-body">
                    {% for remark in myRemarks %}
                         <p>Date: {{ remark.date }}</p>
                         <p>Remark: {{ remark.remarks }}</p>
                         <hr>
                    {% endfor %}
               </div>
          </div>
     </div>
</div>


{% endblock %}
